* {
    font-family: "Poppins";
    --darkest: #202225;
    --darker: #2F3136;
    --dimmer: #36393F;
    --middle: #36393F;
    --lighter: #40444B;
    --lightest: #A3A692;
}

body {
    background: var(--darkest);
    color: white;
}

#main {
    position: absolute;
    top: 40px;
    left: 70px;
    background: var(--middle);
    height: calc(100% - 40px);
    width: calc(100% - 70px);
    border-top-left-radius: 10px;
}

#menu {
    position: fixed;
    top: 40px;
    left: 0px;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

#menu img {
    width: 50px;
    border-radius: 50%;
    transition: all 150ms ease;
}

#menu img:hover {
    border-radius: 35%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    height: calc(100% - 100px);
    width: fit-content;
    background: var(--darker);
    border-top-left-radius: 10px;
}

div.status {
    flex: 0 0 20%;
    width: 375px;
    height: fit-content;
    min-height: 128px;
    border-radius: 4px;
    padding: 25px;
    background: var(--darker);
}

div.status:hover {
    background: var(--lighter);
}

#discord {
    padding: 10px;
    border-radius: 5px;
    background: #5865F2;
}

.images {
    position: relative;
    width: 128px;
}

img.small, img.large {
    position: absolute;
}

img.small {
    width: 50px;
    right: -17px;
    top: 92px;
    border-radius: 50%;
}

img.large {
    width: 128px;
    border-radius: 4px;
}

div.content {
    margin-left: 160px;
}

div.content span {
    display: block;
}

span {
    font-weight: normal;
}

span.name {
    font-weight: bolder;
}