@font-face {
  font-family: "PoppinsReg";
  src: url("../assets/Poppins-Regular.ttf");
}

* {
  font-family: "PoppinsReg";
  font-weight: lighter;
  --darkest: #202225;
  --darker: #2f3136;
  --dimmer: #292b2f;
  --middle: #36393f;
  --lighter: #40444b;
  --lightest: #a3a692;
  --green: #3BA55D;
  --purple: #5865f2;
}

body {
  background: var(--darkest);
  color: white;
  overflow-y: hidden;
}

#main {
  position: absolute;
  top: 40px;
  left: 70px;
  background: var(--middle);
  height: calc(100% - 40px);
  width: calc(100% - 70px);
  border-top-left-radius: 10px;
}

#menu {
  position: fixed;
  top: 40px;
  left: 0px;
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  height: calc(100% - 100px);
  width: 425px;
  background: var(--darker);
  border-top-left-radius: 10px;
  overflow: scroll;
  transition: all 1s ease;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--darker);
  opacity: 0.01;
}

::-webkit-scrollbar-thumb {
  background: var(--darkest);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

div.status {
  position: relative;
  flex: 0 0 20%;
  width: 375px;
  height: fit-content;
  min-height: 128px;
  border-radius: 4px;
  padding: 25px;
  background: var(--darker);
  cursor: pointer;
}

div.status:hover {
  background: var(--lighter);
}

.selected {
  background: var(--lighter) !important;
}

.close {
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 1.5em;
}

button {
  padding: 10px;
  border-radius: 5px;
  background: var(--purple);
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #464eaa;
}

.images {
  position: relative;
  width: 128px;
}

img.small,
img.large {
  position: absolute;
}

img.small {
  width: 50px;
  height: 50px;
  right: -17px;
  top: 80px;
  border-radius: 50%;
  border: 5px solid var(--darker)
}

img.large {
  width: 128px;
  height: 128px;
  border-radius: 15px;
}

div.content {
  margin-left: 160px;
}

div.content span {
  display: block;
}

span {
  font-weight: normal;
}

span.name {
  font-family: "Poppins";
  font-weight: bold;
}

#detailed {
  margin-left: 600px;
  padding: 50px;
  position: absolute;
  top: 0px;
}

input {
  display: block;
  padding: 5px;
  background: var(--lighter);
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#detailed input:hover {
  border: none;
  outline: none;
}

#logs {
  margin-left: 800px;
}

.vert-bttn {
  background: var(--darker);
  text-align: center;
  color: var(--green);
  cursor: pointer;
}

.prpl-bttn {
  background: var(--darker);
  text-align: center;
  color: white;
  cursor: pointer;
}

#menu img, .vert-bttn, .prpl-bttn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 150ms ease;
}

#menu img:hover, .vert-bttn:hover, .prpl-bttn:hover {
  border-radius: 35%;
}

.vert-bttn ion-icon, .prpl-bttn ion-icon {
  font-size: 1.5em;
  margin-top: 13px;
}

.vert-bttn:hover {
  color: white;
  background: var(--green);
}

.prpl-bttn:hover {
  color: white;
  background: var(--purple);
}

button, input, h1 {
  margin: 10px;
}

#buttons {
  margin-left: 1000px;
  padding: 50px;
  position: absolute;
  top: 0px;
}

.discord-bttn {
  margin-left: 0px;
  cursor: not-allowed;
}

.discord-bttn:hover {
  background: var(--purple);
}

#optional {
  margin-left: 1000px;
  padding: 50px;
  position: absolute;
  top: 250px;
}

#credits {
  color: var(--lightest);
  padding: 50px;
  position: absolute;
  top: 600px;
  margin-left: 600px;
}